Repository hmcts/rd-professional-api, pull requests merged in 2019-08, with the labels that each got.

#123 Get ext users fix
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/resources/application.yaml
Labels: ns:rd-professional-api-pr-123

#127 RDCC-395U
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/ProfessionalUserReqValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserProfileCreationRequest.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequestTest.java
Labels: ns:rd-professional-api-pr-127

#125 RDCC-394/398/315/275 Company Number validation, Idam Status/Message, Organisation Status insensitive, Duplicate User Roles
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithContactInformationDxAddress.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RoleBasedAccessForUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/GetUserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/Organisation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/OrganisationRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/PbaAccountUtil.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/OrganisationFixtures.java
Labels: ns:rd-professional-api-pr-125

#133 Rdcc 315 - duplicate user roles FIX
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
Labels: ns:rd-professional-api-pr-133

#132 Rdcc 314
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithContactInformationDxAddress.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/EmailPattern.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/sort/ProfessionalApiSort.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/LegacyPbaAccountServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/sort/ProfessionalApiSortTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/PbaAccountUtilTest.java
Labels: ns:rd-professional-api-pr-132

#136 Rdcc 425
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithContactInformationDxAddress.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/OrganisationFixtures.java
Labels: ns:rd-professional-api-pr-136

#137 RDCC-434 changed status code to 400
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestValidatorTest.java
Labels: ns:rd-professional-api-pr-137

#146 Rdcc 424
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
Labels: ns:rd-professional-api-pr-146

#153 CCD vault fix
  infrastructure/main.tf
Labels: ns:rd-professional-api-pr-153

#154 Rdcc 422 pba
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/OrganisationFixtures.java
Labels: ns:rd-professional-api-pr-154

#156 Rdcc 395 email pattern
  infrastructure/main.tf
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/OrganisationFixtures.java
Labels: ns:rd-professional-api-pr-156

#145 432 1
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithContactInformationDxAddress.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/ContactInformationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/DxAddressCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/PbaAccountCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserProfileCreationRequest.java
Labels: ns:rd-professional-api-pr-145

#161 Fix Jurisdiction id validation
  src/main/resources/db/migration/V6_5__updating_jurisdiction_enum.sql
Labels: ns:rd-professional-api-pr-161

#164 Fix Jurisdiction id validation
  src/main/resources/db/migration/V6_5__updating_jurisdiction_enum.sql
Labels: ns:rd-professional-api-pr-164

#165 RDCC-prd-roles-fix:new roles added
  src/main/resources/db/migration/V6_6__adding_ccd_roles_enum.sql
  src/main/resources/postgres/V6_1__adding_index_for_email_constraint.sql
Labels: ns:rd-professional-api-pr-165

#167 RDCC-Roles-Fix :New Roles added
  src/main/resources/db/migration/V6_6__adding_ccd_roles_enum.sql
Labels: ns:rd-professional-api-pr-167

#178 Prd functional tc fix with preview env
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/config/TestConfigProperties.java
  src/functionalTest/resources/application-functional.yaml
Labels: ns:rd-professional-api-pr-178

#182 Rdcc 444 aks deployment
  Jenkinsfile_CNP
  build.gradle
  charts/rd-professional-api/requirements.yaml
Labels: ns:rd-professional-api-pr-182

#188 aat urls updated for functional test cases
  Jenkinsfile_CNP
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/application.yaml
Labels: ns:rd-professional-api-pr-188

#191 Demo with aks
  Dockerfile
  Jenkinsfile_CNP
  charts/rd-professional-api/Chart.yaml
  charts/rd-professional-api/values.aat.template.yaml
  charts/rd-professional-api/values.preview.template.yaml
  charts/rd-professional-api/values.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
  web.config
Labels: ns:rd-professional-api-pr-191

#194 Demo with aks2
  charts/rd-professional-api/values.preview.template.yaml
Labels: ns:rd-professional-api-pr-194

#195 Ignoring Instrumentation Key
  charts/rd-professional-api/values.preview.template.yaml
Labels: ns:rd-professional-api-pr-195

#197 RDCC-444 aks and jenkins fix
  Dockerfile
  Jenkinsfile_CNP
  charts/rd-professional-api/Chart.yaml
  charts/rd-professional-api/values.aat.template.yaml
  charts/rd-professional-api/values.preview.template.yaml
  charts/rd-professional-api/values.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
  web.config
Labels: ns:rd-professional-api-pr-197

#198 Ignoring AKS staging
  Jenkinsfile_CNP
Labels: ns:rd-professional-api-pr-198

#201 Code committed for to fix prof perftest issue
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
Labels: ns:rd-professional-api-pr-201

#207 Final rel 2
  Jenkinsfile_CNP
Labels: ns:rd-professional-api-pr-207

#210 Rdcc 474 Jenkins Nightly Fix
  Jenkinsfile_CNP
  build.gradle
Labels: ns:rd-professional-api-pr-210
