Repository hmcts/rd-professional-api, pull requests merged in 2019-12, with the labels that each got.

#324 RDCC-630 & RDCC-718 - Fixing PBA Bug & Updating Error Response Message To Contain Invalid PBA(s)
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPbaNumbersRetrieveByUserEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PaymentAccountRetrieveByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PbaAccountsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrievePaymentAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithContactInformationDxAddress.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/EditPaymentAccountsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPaymentAccountsByEmailTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/PaymentAccountValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/PbaEditRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/PaymentAccountRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/PaymentAccountServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/PbaEditRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/OrganisationFixtures.java
Labels: ns:rd-professional-api-pr-324

#328 Rdcc 720 - adding caseworker-ia role
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserRolesTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequest.java
  src/main/resources/db/migration/V6_11__adding_new_user_roles_for_ccd.sql
Labels: ns:rd-professional-api-pr-328

#327 Added test intended to fail
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersStatusByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserRolesTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
Labels: ns:rd-professional-api-pr-327

#325 RDCC-715: Added lower case method to super controller
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersStatusByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserEmailSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationInternalControllerTest.java
Labels: ns:rd-professional-api-pr-325

#326 RDCC-718 adding length check to validator method
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPbaNumbersRetrieveByUserEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/EditPaymentAccountsTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/PaymentAccountValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/PaymentAccountValidatorTest.java
Labels: ns:rd-professional-api-pr-326

#337 Moving Services: bumpup jackson version
  build.gradle
  charts/rd-professional-api/Chart.yaml
  charts/rd-professional-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
Labels: ns:rd-professional-api-pr-337

#338 RDCC-718
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/PaymentAccountValidator.java
  src/main/resources/application.yaml
Labels: ns:rd-professional-api-pr-338

#336 config: changed the chart version
  charts/rd-professional-api/Chart.yaml
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/application.yaml
Labels: ns:rd-professional-api-pr-336

#339 Rd prof ithc
  Jenkinsfile_CNP
  charts/rd-professional-api/Chart.yaml
Labels: ns:rd-professional-api-pr-339

#341 adding ithc and perftest.tfvars to make capacity 1
  charts/rd-professional-api/values.perftest.template.yaml
  infrastructure/ithc.tfvars
  infrastructure/perftest.tfvars
Labels: ns:rd-professional-api-pr-341

#343 RDCC-747_2 updated endpoints
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersStatusByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
Labels: ns:rd-professional-api-pr-343

#344 adding ithc and perftest.tfvars to make capacity 1 and charts
  charts/rd-professional-api/values.ithc.template.yaml
  charts/rd-professional-api/values.perftest.template.yaml
  infrastructure/ithc.tfvars
  infrastructure/perftest.tfvars
Labels: ns:rd-professional-api-pr-344

#348 iac: service name changes
  src/main/resources/application.yaml
Labels: ns:rd-professional-api-pr-348

#354 Rdcc 751 Avoiding are roles to be sent for production
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/PrdEnum.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/PrdEnumRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/PrdEnumServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V6_10__adding_new_user_roles_for_ia_and_fpla.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PrdEnumServiceTest.java
Labels: ns:rd-professional-api-pr-354

#358 Jurdiction role delete
  src/main/resources/db/migration/V6_12__adding_new_roles_and_delete_duplicate_jurisdiction_id.sql
Labels: ns:rd-professional-api-pr-358

#359 RDCC-571 RDCC-745 Removing duplicate jurisdiction and adding two more CCD roles for SSCS
  src/main/resources/db/migration/V6_11__delete_duplicate_jurisdiction_id.sql
Labels: ns:rd-professional-api-pr-359

#364 readme update
  README.md
Labels: ns:rd-professional-api-pr-364

#363 RDCC-682 Fix nightly build
  Jenkinsfile_nightly
  audit.json
  build.gradle
  config/owasp/suppressions.xml
  security.sh
Labels: ns:rd-professional-api-pr-363

#366 Rdcc 744 v1
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserRolesTest.java
  src/functionalTest/resources/application-functional.yaml
Labels: ns:rd-professional-api-pr-366

#370 RDCC-74-V1: Adding functional test case to verify sscs roles in invit…
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserRolesTest.java
Labels: ns:rd-professional-api-pr-370
