Repository hmcts/rd-professional-api, pull requests merged in 2019-06, with the labels that each got.

#60 RDCC-208
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserEmailSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRoles.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUserResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/UserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/sort/ProfessionalApiSortTest.java
Labels: ns:rd-professional-api-pr-60

#63 RDCC-276:Code committed to remove authorization for legacy endpoint
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/SecurityConfiguration.java
  src/main/resources/application.yaml
Labels: ns:rd-professional-api-pr-63

#65 RDCC-276-legacyPba: Code committed to remove Authorization header in …
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/LegacyPbaController.java
Labels: ns:rd-professional-api-pr-65

#67 Rdcc 276 legacy pba
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/LegacyPbaController.java
Labels: ns:rd-professional-api-pr-67

#66 Rdcc 173 - updated error handling (now with responses)
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ExceptionMapper.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/ErrorConstantsTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/advice/ExceptionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/ErrorResponseTest.java
Labels: ns:rd-professional-api-pr-66

#55 Rdcc 210 1
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationIdentifierValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ContactInformationResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/DxAddressResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/LegacyPbaResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationsDetailResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/PbaAccountResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/SuperUserResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/PrdEnumServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationIdentifierValidatorImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationStatusValidatorImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserAttributeRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationPbaResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersEntityResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controllers/request/NewUserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controllers/request/UserAttributeRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PrdEnumServiceTest.java
Labels: ns:rd-professional-api-pr-55

#71 Rdcc pba by email
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PaymentAccountRetrieveByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/LegacyPbaAccountServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/PaymentAccountServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/PbaAccountUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/LegacyPbaAccountServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/PbaAccountUtilTest.java
Labels: ns:rd-professional-api-pr-71

#76 RDCC-283 Remove unique contraint for SRA id and URL and remove HTTPEx…
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithContactInformationDxAddress.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/LegacyPbaController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/ProfessionalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/resources/db/migration/V5__drop_unique_constraints_add_org_manager.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
Labels: ns:rd-professional-api-pr-76

#70 Rdcc 283 284
  .gitignore
  .travis.yml
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPbaNumbersRetrieveByUserEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationCreationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PaymentAccountRetrieveByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserEmailSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ContactInformationResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/DxAddressResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationPbaResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersResponse.java
  src/main/resources/db/migration/V5__drop_unique_constraints_add_org_manager.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationIdentifierValidatorImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationStatusValidatorImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserAttributeRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/ContactInformationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/DxAddressCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/UserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/ContactInformationResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/DxAddressResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/ErrorResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationPbaResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersEntityResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controllers/request/NewUserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controllers/request/UserAttributeRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/ContactInformationTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/DxAddressTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/ProfessionalUserTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/generator/ProfessionalApiGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/LegacyPbaAccountServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/sort/ProfessionalApiSortTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/PbaAccountUtilTest.java
Labels: ns:rd-professional-api-pr-70

#72 RDCC-173 Error handling as per contract with XUI
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ExceptionMapper.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/ErrorConstantsTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/ErrorResponseTest.java
Labels: ns:rd-professional-api-pr-72

#77 RDCC-301 Reverted changes back to unblock swagger testing
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/SwaggerConfiguration.java
Labels: ns:rd-professional-api-pr-77

#79 reverting Jenkins_CNP file
  Jenkinsfile_CNP
Labels: ns:rd-professional-api-pr-79

#80 Rdcc 233
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPbaNumbersRetrieveByUserEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationCreationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PaymentAccountRetrieveByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserEmailSearchTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/config/Oauth2.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/config/TestConfigProperties.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/idam/IdamApi.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/idam/IdamService.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/idam/models/User.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithContactInformationDxAddress.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/professionalapi/Application.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/MethodSecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/WebConfig.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/resolver/OrgId.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/resolver/OrganisationIdArgumentResolver.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/resolver/UserId.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/resolver/UserIdArgumentResolver.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/HelloController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/ProfessionalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/ProfessionalUserReqValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/ProfessionalUserRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/ProfessionalUserReqValidatorTest.java
Labels: ns:rd-professional-api-pr-80
