Repository hmcts/rd-professional-api, pull requests merged in 2019-05, with the labels that each got.

#16 RDCC 73,85: Create pipeline for professional reference data
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  bin/run-in-docker.sh
  build.gradle
  charts/rd-professional-api/Chart.yaml
  charts/rd-professional-api/requirements.yaml
  charts/rd-professional-api/values.aat.template.yaml
  charts/rd-professional-api/values.preview.template.yaml
  charts/rd-professional-api/values.sandbox.template.yaml
  charts/rd-professional-api/values.yaml
  config/owasp/suppressions.xml
  docker-compose.yml
  infrastructure/main.tf
  infrastructure/output.tf
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationCreationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/S2sClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/Application.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/infrastructure/config/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/infrastructure/config/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/infrastructure/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/infrastructure/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/infrastructure/security/idam/IdentityManagerResponseException.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rd-professional-api-pr-16

#18 fixing the vault name issue
  infrastructure/output.tf
Labels: ns:rd-professional-api-pr-18

#19 Restore removed sections of Terraform config
  infrastructure/main.tf
  infrastructure/output.tf
Labels: ns:rd-professional-api-pr-19

#20 Update Terraforn azurerm backend provider to 1.22.0
  infrastructure/main.tf
Labels: ns:rd-professional-api-pr-20

#21 Fix S2S vault URI in TF config
  Jenkinsfile_parameterized
  build.gradle
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/resources/db/migration/V1__init_tables.sql
  src/main/resources/db/migration/V2__add_payment_account.sql
Labels: ns:rd-professional-api-pr-21

#17 Rdcc sprint 5
  README.md
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationCreationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithContactInformationDxAddress.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/infrastructure/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/infrastructure/controllers/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/infrastructure/controllers/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/infrastructure/controllers/request/ContactInformationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/infrastructure/controllers/request/DxAddressCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/infrastructure/controllers/request/DxAddressCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/infrastructure/controllers/request/DxAddressValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/infrastructure/controllers/request/OrganisationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/infrastructure/controllers/request/PbaAccountCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/infrastructure/controllers/request/SuperuserPbaAccountValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/infrastructure/controllers/request/UserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/infrastructure/controllers/response/OrganisationResponse.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/service/OrganisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/infrastructure/controllers/request/ContactInformationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/infrastructure/controllers/request/DxAddressCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/infrastructure/controllers/request/OrganisationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/infrastructure/controllers/request/SuperuserPbaAccountValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/infrastructure/controllers/request/UserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/OrganisationFixtures.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/ResponseUtils.java
Labels: ns:rd-professional-api-pr-17

#24 RDCC-165 Changing V1 script to lower case to address Flyway issue in …
  src/main/resources/db/migration/V1__init_tables.sql
Labels: ns:rd-professional-api-pr-24

#27 Temporary workaround for postgres docker issue
  charts/rd-professional-api/values.yaml
Labels: ns:rd-professional-api-pr-27

#26 RDCC-178-spring-auto-wire refactor completed
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationCreationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithContactInformationDxAddress.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/ContactInformationRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/DxAddressRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/OrganisationRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/PaymentAccountRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/ProfessionalUserRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceTest.java
Labels: ns:rd-professional-api-pr-26

#29 RDCC-178 removing constructor in favor of AllArgsConstructor annotation
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/ContactInformationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/DxAddressCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/DxAddressCreationRequestValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/DxAddressValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/RequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controllers/request/DxAddressCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controllers/request/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceTest.java
Labels: ns:rd-professional-api-pr-29

#30 RDCC-108-164 code changes committed
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ContactInformationResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/DxAddressResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationsDetailResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/PbaAccountResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/SuperUserResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
Labels: ns:rd-professional-api-pr-30

#32 RDCC-108-164 Adding delete for dx_address to avoid failure in Jenkins…
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
Labels: ns:rd-professional-api-pr-32

#34 Rdcc 79 retrieve payment accounts by email
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PaymentAccountRetrieveByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/DxAddressCreationRequestValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/DxAddressValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ContactInformationResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/DxAddressResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationPbaResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationsDetailResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/PbaAccountResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/SuperUserResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/OrganisationRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/ProfessionalUserRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/DxAddressTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
Labels: ns:rd-professional-api-pr-34

#33 RDCC-62: Update organisation status from Pending to Active
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationCreationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/DxAddressCreationRequestValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationStatusValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UpdateOrganisationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UpdateOrganisationValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/Organisation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/OrganisationStatus.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controllers/request/DxAddressCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controllers/request/OrganisationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/OrganisationTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/PaymentAccountTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/OrganisationFixtures.java
Labels: ns:rd-professional-api-pr-33

#36 Fix flaky PaymentAccountRetrieveByEmailTest
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PaymentAccountRetrieveByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
Labels: ns:rd-professional-api-pr-36

#11 RDCC-78: Retrieve professional user by email
  .githooks/pre-push
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserEmailSearchTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithContactInformationDxAddress.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/Service2ServiceEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUserResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/PaymentAccount.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ProfessionalUser.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/ProfessionalUserRepository.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/ProfessionalUserTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
Labels: ns:rd-professional-api-pr-11

#37 Fix git hook so it actually runs integration tests
  .githooks/pre-push
Labels: ns:rd-professional-api-pr-37

#38 RDCC-125-126-162: Retrieve Organisation details by request param status
  .githooks/pre-push
Labels: ns:rd-professional-api-pr-38

#39 RDCC-200: Use Tim J's suggestion to try and get green builds without deploying to prod
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
Labels: ns:rd-professional-api-pr-39

#41 Rdcc 192 allow organisation without dx address
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithContactInformationDxAddress.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/DxAddressCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/DxAddressCreationRequestValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controllers/request/DxAddressCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
Labels: ns:rd-professional-api-pr-41

#43 RDCC 110/163: retrieve detailed organisation data
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
Labels: ns:rd-professional-api-pr-43

#42 Rdcc 171 120
  src/main/resources/db/migration/V2__add_enums.sql
Labels: ns:rd-professional-api-pr-42

#40 RDCC-125-126-162-Retrieve Organisation details by request param status
  .githooks/pre-push
  README.md
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/Service2ServiceEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/OrganisationStatus.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/OrganisationRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controllers/request/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/OrganisationFixtures.java
Labels: ns:rd-professional-api-pr-40

#45 changing runner to serenity to have better reporting
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationCreationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PaymentAccountRetrieveByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
Labels: ns:rd-professional-api-pr-45

#47 RDCC-211 updated jackson-databind dependency to fix Jenkins build
  build.gradle
Labels: ns:rd-professional-api-pr-47

#48 Rdcc 195: Create an entry into user_account_map table with pbaccount info.
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/Service2ServiceEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/PaymentAccount.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ProfessionalUser.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/UserAccountMap.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/UserAccountMapId.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/UserAccountMapRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/PaymentAccountTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/ProfessionalUserTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
Labels: ns:rd-professional-api-pr-48

#49 RDCC-120 Get a list of professional users for an organisation
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/Service2ServiceEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/ProfessionalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationIdentifierValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationStatusValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UpdateOrganisationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ProfessionalUser.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ProfessionalUserStatus.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/ProfessionalUserRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/PaymentAccountServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/ProfessionalUserTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
Labels: ns:rd-professional-api-pr-49

#46 RDCC-210 adding unit test coverage to request objects
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/PbaAccountCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controllers/request/UserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
Labels: ns:rd-professional-api-pr-46

#50 Rdcc 119 - Register a professional user for an organisation
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UpdateOrganisationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserAttributeRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/NewUserResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/PrdEnum.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/PrdEnumId.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ProfessionalUser.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/UserAttribute.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/PrdEnumRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/UserAttributeRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/PrdEnumService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/UserAttributeService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/PaymentAccountServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/PrdEnumServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/UserAttributeServiceImpl.java
  src/main/resources/db/migration/V1__init_tables.sql
  src/main/resources/db/migration/V3__user_identifier_data_type_change.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/controllers/request/NewUserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controllers/request/UpdateOrganisationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controllers/request/UserAttributeRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controllers/request/UserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/PrdEnumIdTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/PrdEnumTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/ProfessionalUserTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/UserAttributeTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PrdEnumServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/UserAttributeServiceTest.java
Labels: ns:rd-professional-api-pr-50

#52 RDCC-224 Added user_identifier
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserEmailSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/NewUserResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/SuperUserResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/Organisation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ProfessionalUser.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/generator/ProfessionalApiGenerator.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/ProfessionalUserTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/generator/ProfessionalApiGeneratorTest.java
Labels: ns:rd-professional-api-pr-52

#54 RDCC-209 Search Legacy PBA by Email related code changes committed
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPbaNumbersRetrieveByUserEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/LegacyPbaController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/LegacyPbaResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/LegacyPbaAccountService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/LegacyPbaAccountServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/OrganisationTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/UserAccountMapIdTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/UserAccountMapTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/LegacyPbaAccountServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
Labels: ns:rd-professional-api-pr-54

#58 RDCC-prod-build-fix: code fixed to handle null pointer exception
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/SuperUserResponse.java
Labels: ns:rd-professional-api-pr-58

#53 RDCC-190 Organisation Identifier to be made unique 7 alphanumeric
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithContactInformationDxAddress.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/ProfessionalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationIdentifierValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationStatusValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UpdateOrganisationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UpdateOrganisationValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/Organisation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/generator/ProfessionalApiGenerator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/OrganisationRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/resources/db/migration/V4__organisation_identifier_datatype_change.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/controllers/request/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controllers/request/UpdateOrganisationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/OrganisationTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/generator/ProfessionalApiGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
Labels: ns:rd-professional-api-pr-53

#56 RDCC-228-removing consumes on get operation in swagger docs
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/ProfessionalUserController.java
Labels: ns:rd-professional-api-pr-56

#57 RDCC-223
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPbaNumbersRetrieveByUserEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PaymentAccountRetrieveByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithContactInformationDxAddress.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/Service2ServiceEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/PbaAccountResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/OrganisationFixtures.java
Labels: ns:rd-professional-api-pr-57

#59 Rdcc 198
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRoles.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/SuperUserResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ProfessionalUser.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/generator/ProfessionalApiGenerator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/UserAttributeServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/advice/ExceptionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/ContactInformationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/DxAddressCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/UserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/ContactInformationResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/DxAddressResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationPbaResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/OrganisationTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/generator/ProfessionalApiGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/LegacyPbaAccountServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/LegacyPbaAccountServiceImplTest.java
Labels: ns:rd-professional-api-pr-59

#61 Rdcc 227
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/generator/ProfessionalApiGenerator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/sort/ProfessionalApiSort.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationPbaResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/sort/ProfessionalApiSortTest.java
Labels: ns:rd-professional-api-pr-61

#62 RDCC-175-retrieve-pba-email:Code changes committed and all test cover…
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PaymentAccountRetrieveByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/PaymentAccountServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/PbaAccountUtil.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/PbaAccountUtilTest.java
Labels: ns:rd-professional-api-pr-62
