Repository hmcts/rd-professional-api, pull requests merged in 2019-11, with the labels that each got.

#288 Reverting version number to fix jenkins master build
  build.gradle
Labels: ns:rd-professional-api-pr-288

#290 RDCC-636 fixing type-o in README
  README.md
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/sample/IdamConsumerTest.java
Labels: ns:rd-professional-api-pr-290

#294 RDCC-651 : Remove logging of sensitive keys and client identifying data
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/S2sClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/DeleteUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/resolver/OrganisationIdArgumentResolver.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/resolver/UserIdArgumentResolver.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationIdentifierIdentifierValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationStatusIdentifierValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/JurisdictionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
Labels: ns:rd-professional-api-pr-294

#296 RDCC 418 Enabling demo deployment
  Jenkinsfile_CNP
Labels: ns:rd-professional-api-pr-296

#299 Rdcc 418 Enabling ASE env
  web.config
Labels: ns:rd-professional-api-pr-299

#302 RDCC 418 Handle UP failure response
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyStatusForUserTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserStatusIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtil.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/RefDataUtilTest.java
Labels: ns:rd-professional-api-pr-302

#305 Rdcc 117
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrievePaymentAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
Labels: ns:rd-professional-api-pr-305

#306 RDCC-630: Edit Payment by Accounts (PBAs) of an organisation
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PbaAccountsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/EditPaymentAccountsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/PbaEditRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/PbaResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/PaymentAccountRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/UserAccountMapRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/UserAccountMapService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/JurisdictionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/PaymentAccountServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/UserAccountMapServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/ProfessionalApiGeneratorConstantsTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/PbaEditRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/UserCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/PbaResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/JurisdictionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/JsonFeignResponseHelperTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/RefDataUtilTest.java
Labels: ns:rd-professional-api-pr-306

#313 Rdcc 677
  src/main/resources/application.yaml
  src/main/resources/db/migration/V6_10__adding_new_user_roles_for_ccd_view.sql
Labels: ns:rd-professional-api-pr-313

#311 Rdcc 672 v1
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersStatusByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/feign/UserProfileFeignClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/ProfessionalUserReqValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/NewUserResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtil.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/NewUserResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
Labels: ns:rd-professional-api-pr-311

#318 RDCC-702: code changes committed for smoke test to verify one of the …
  smoke-output/.gitignore
  src/smokeTest/java/uk/gov/hmcts/reform/professionalapi/SmokeTest.java
Labels: ns:rd-professional-api-pr-318

#314 Rdcc 677 v1
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersStatusByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyRolesForUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyStatusForUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrievePaymentAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UpdateStatusForUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserRolesTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/application.yaml
Labels: ns:rd-professional-api-pr-314

#319 Rdcc 678
  charts/rd-professional-api/Chart.yaml
  charts/rd-professional-api/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserRolesTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
Labels: ns:rd-professional-api-pr-319

#322 Rdcc 682 demofix 2
  audit.json
  security.sh
Labels: ns:rd-professional-api-pr-322

#323 QA requested changes
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserRolesTest.java
Labels: ns:rd-professional-api-pr-323
