Repository hmcts/rd-professional-api, pull requests merged in 2019-10, with the labels that each got.

#255 Go live on AKS
  Jenkinsfile_CNP
  charts/rd-professional-api/values.preview.template.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rd-professional-api-pr-255

#243 RDCC-449: OpenId implementation for prd project
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/idam/IdamClient.java
Labels: ns:rd-professional-api-pr-243

#258 RDCC-529 updated ErrorConstantsTest For QA PRD queries
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/UserAccountMapRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/PrdEnumType.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/UserAttributeService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/UserAttributeServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/UserAttributeServiceTest.java
Labels: ns:rd-professional-api-pr-258

#261 Rdcc 529 1
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/UserAttributeServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
Labels: ns:rd-professional-api-pr-261

#260 RDCC-531 splitting search user by email and search users by organisat…
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/ProfessionalUserReqValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/Organisation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/generator/ProfessionalApiGenerator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/generator/ProfessionalApiGeneratorConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/ProfessionalExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/ProfessionalUserReqValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/OrganisationTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/generator/ProfessionalApiGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
Labels: ns:rd-professional-api-pr-260

#263 Origin/rdcc 529
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ExternalApiException.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/feign/JurisdictionFeignClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/ProfessionalUserReqValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserProfileCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/GetUserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/LegacyPbaResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/LegacyPbaAccountServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
Labels: ns:rd-professional-api-pr-263

#262 Rdcc 605 2
  Jenkinsfile_nightly
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:rd-professional-api-pr-262

#268 RDCC-529 increasing unit test coverage
  build.gradle
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/ProfessionalUserReqValidator.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/LegacyPbaControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/ProfessionalExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/ProfessionalUserInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/JurisdictionUserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationIdentifierValidatorImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/ProfessionalUserReqValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/RetrieveUserProfilesRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserProfileCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/UserCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/advice/ExceptionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/ContactInformationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/DxAddressCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/UpdateOrganisationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/ContactInformationResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/ErrorResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/MultipleUserProfilesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/NewUserResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/UserProfileCreationResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/ProfessionalUserStatusTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/PrdEnumIdTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/PrdEnumTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/SuperUserTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/UserAttributeTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/generator/ProfessionalApiGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/JsonFeignResponseHelperTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/RefDataUtilTest.java
Labels: ns:rd-professional-api-pr-268

#271 Add dependabot config
  .dependabot/config.yml
Labels: ns:rd-professional-api-pr-271

#283 bump health starter
  build.gradle
Labels: ns:rd-professional-api-pr-283

#277 Rdcc 375 PACT Test Framework & Consumer For IDAM
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  README.md
  broker-compose.yml
  build.gradle
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/sample/IdamConsumerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/docs/SwaggerPublisher.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/UserCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/generator/ProfessionalApiGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/JsonFeignResponseHelperTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/RefDataUtilTest.java
Labels: ns:rd-professional-api-pr-277
