Repository hmcts/rd-professional-api, pull requests merged in 2019-07, with the labels that each got.

#83 RDCC- 323
  infrastructure/main.tf
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationCreationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PaymentAccountRetrieveByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserEmailSearchTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/idam/IdamApi.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/idam/IdamService.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/main/resources/application.yaml
Labels: ns:rd-professional-api-pr-83

#85 Rdcc 316
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPbaNumbersRetrieveByUserEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PaymentAccountRetrieveByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithContactInformationDxAddress.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/PbaAccountCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/PaymentAccount.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ProfessionalUser.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/ProfessionalUserRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/resources/db/migration/V5__drop_unique_constraints_add_org_manager.sql
  src/main/resources/db/migration/V6__adding_unique_constraints_dropping_status_add_new_field.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersEntityResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controllers/request/NewUserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/ProfessionalUserTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/sort/ProfessionalApiSortTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/OrganisationFixtures.java
Labels: ns:rd-professional-api-pr-85

#87 Setting up Nightly build
  Jenkinsfile_nightly
  build.gradle
  security.sh
Labels: ns:rd-professional-api-pr-87

#89 Jenkins nightly
  Jenkinsfile_nightly
Labels: ns:rd-professional-api-pr-89

#91 RDCC-244: Code committed to add few role based integration test cases…
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PaymentAccountRetrieveByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RoleBasedAccessForUpdateTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/advice/ExceptionMapperTest.java
Labels: ns:rd-professional-api-pr-91

#94 Fixing Nightly build
  Jenkinsfile_nightly
  security.sh
Labels: ns:rd-professional-api-pr-94

#73 added security sh file and modified jenkins nightly file
  Jenkinsfile_nightly
Labels: ns:rd-professional-api-pr-73

#95 Fix for the V1 files to be exectued by Flyway
  src/main/resources/db/migration/V1_1__init_tables.sql
Labels: ns:rd-professional-api-pr-95

#98 Rdcc 305 1
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/sort/ProfessionalApiSort.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V6__adding_unique_constraints_dropping_status_add_new_field.sql
  src/main/resources/db/postgres/V6_1__adding_index_for_email_constraint.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/UserAttributeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/sort/ProfessionalApiSortTest.java
Labels: ns:rd-professional-api-pr-98

#103 Rdcc 364
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/sort/ProfessionalApiSort.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V6__adding_unique_constraints_dropping_status_add_new_field.sql
  src/main/resources/db/postgres/V6_1__adding_index_for_email_constraint.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationExternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/ProfessionalExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/ProfessionalUserReqValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/UserAttributeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/sort/ProfessionalApiSortTest.java
Labels: ns:rd-professional-api-pr-103

#105 Demo code cr
  Jenkinsfile_parameterized
  build.gradle
  config/owasp/suppressions.xml
  docker-compose.yml
  infrastructure/main.tf
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/professionalapi/Application.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/feign/UserProfileFeignClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserProfileCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/GetUserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/IdamStatus.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/JsonFeignResponseHelper.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/LanguagePreference.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/UserCategory.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/UserType.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/PaymentAccountServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/sort/ProfessionalApiSort.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/PbaAccountUtil.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V6__adding_unique_constraints_dropping_status_add_new_field.sql
  src/main/resources/db/postgres/V6_1__adding_index_for_email_constraint.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationExternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/ProfessionalExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/ProfessionalUserReqValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/advice/ExceptionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/UserAttributeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/sort/ProfessionalApiSortTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/OrganisationFixtures.java
Labels: ns:rd-professional-api-pr-105

#102 RDCC-273 Activate org with UP to SIDAM
  build.gradle
  docker-compose.yml
  infrastructure/main.tf
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PaymentAccountRetrieveByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserEmailSearchTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/FeignHeaderConfig.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/FeignInterceptorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/feign/UserProfileFeignClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserProfileCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/UserProfileCreationResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/Organisation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/OrganisationStatus.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ProfessionalUser.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/PrdEnumService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/UserAttributeService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/PrdEnumServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/UserAttributeServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/JsonFeignResponseHelper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationExternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserProfileCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/UserProfileCreationResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/ProfessionalUserTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/UserAttributeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/PrdEnumServiceImplTest.java
Labels: ns:rd-professional-api-pr-102

#108 Rdcc 366 305 364
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationExternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/sort/ProfessionalApiSortTest.java
Labels: ns:rd-professional-api-pr-108

#106 Nightly build fix
  Jenkinsfile_nightly
  build.gradle
  config/owasp/suppressions.xml
  security.sh
Labels: ns:rd-professional-api-pr-106

#111 Need to add subscription as part of jenkins lib chsanges
  infrastructure/main.tf
Labels: ns:rd-professional-api-pr-111

#112 Security scan issue
  security.sh
Labels: ns:rd-professional-api-pr-112

#110 RDCC-325 : Code committed to fix role based security
  docker-compose.yml
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPbaNumbersRetrieveByUserEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationCreationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PaymentAccountRetrieveByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/S2sClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/config/TestConfigProperties.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/idam/IdamClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/idam/IdamService.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/resolver/OrganisationIdArgumentResolver.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/ContactInformationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationIdentifierValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/SuperUserResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/PrdEnumServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/PbaAccountUtil.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V6_2__adding_ccd_roles_enum.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationExternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/ContactInformationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/PrdEnumServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/PbaAccountUtilTest.java
Labels: ns:rd-professional-api-pr-110

#113 Adding create directory command
  security.sh
Labels: ns:rd-professional-api-pr-113

#118 Securitychanges
  .gitignore
  functional-output/.gitignore
Labels: ns:rd-professional-api-pr-118

#119 enabling build pipeline to production
  Jenkinsfile_CNP
Labels: ns:rd-professional-api-pr-119

#114 RDCC-313_1 Whitespace removal - Conor
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/LegacyPbaController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/PaymentAccountServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/UserAttributeServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/PbaAccountUtil.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/OrganisationFixtures.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/PbaAccountUtilTest.java
Labels: ns:rd-professional-api-pr-114

#115 Rdcc 275 1
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  functional-output/.gitignore
  security.sh
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPbaNumbersRetrieveByUserEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PaymentAccountRetrieveByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserEmailSearchTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/GetUserProfileException.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/feign/UserProfileFeignClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/RetrieveUserProfileRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/RetrieveUserProfilesRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/GetUserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/MultipleUserProfilesResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ProfessionalUser.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/PaymentAccountServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/JsonFeignResponseHelper.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/PbaAccountUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/ProfessionalExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersEntityResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/OrganisationStatusTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/OrganisationTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/ProfessionalUserTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
Labels: ns:rd-professional-api-pr-115

#120 Preview-Code-Coverage unit tests added to increase code coverage
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/RetrieveUserProfileRequest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/GetUserProfileExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationIdentifierValidatorImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/MultipleUserProfilesResponseTest.java
Labels: ns:rd-professional-api-pr-120

#122 Rdcc 275 BUG FIX
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ProfessionalUser.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/PbaAccountUtil.java
Labels: ns:rd-professional-api-pr-122

#116 RDCC 320 - Merging to Preview
  docker-compose.yml
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPbaNumbersRetrieveByUserEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationCreationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/UserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
Labels: ns:rd-professional-api-pr-116
