Repository hmcts/rd-professional-api, pull requests merged in 2020-03, with the labels that each got.

#465 retrofitting performance improvement for getting all orgs, to master
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyRolesForUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrievePaymentAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ContactInformation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/Organisation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/OrganisationRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/ContactInformationTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
Labels: ns:rd, rel:rd-professional-api-pr-465

#475 The dxNumber size is verify.
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
Labels: ns:rd, rel:rd-professional-api-pr-475

#480 RDCC-1058: Remove @Ignore from Repository Tests
  src/test/java/uk/gov/hmcts/reform/professionalapi/helper/RepositorySetUp.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/ContactInformationRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/DxAddressRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/OrganisationRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/PaymentAccountRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/PrdEnumRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/ProfessionalUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/UserAccountMapRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/UserAttributeRepositoryTest.java
  src/test/resources/application.yml
Labels: ns:rd, rel:rd-professional-api-pr-480

#483 RDCC-1058: Addressing Shashank's comments
  src/test/java/uk/gov/hmcts/reform/professionalapi/helper/BaseRepository.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/ContactInformationRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/DxAddressRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/OrganisationRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/PaymentAccountRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/PrdEnumRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/ProfessionalUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/UserAccountMapRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/UserAttributeRepositoryTest.java
Labels: ns:rd, rel:rd-professional-api-pr-483

#471 RDCC-863: PRD Serenity Reports for Integration Tests
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithContactInformationDxAddress.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/DeleteUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/EditPaymentAccountsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserStatusIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RoleBasedAccessForUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
Labels: ns:rd, rel:rd-professional-api-pr-471

#482 RDCC-1058: bringing in changes from Master for ignored repository tests
  src/test/java/uk/gov/hmcts/reform/professionalapi/helper/BaseRepository.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/ContactInformationRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/DxAddressRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/OrganisationRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/PaymentAccountRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/PrdEnumRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/ProfessionalUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/UserAccountMapRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/UserAttributeRepositoryTest.java
  src/test/resources/application.yaml
Labels: ns:rd, rel:rd-professional-api-pr-482

#484 RDCC-863: moving changes from Master to Demo
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithContactInformationDxAddress.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/DeleteUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/EditPaymentAccountsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserStatusIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RoleBasedAccessForUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
Labels: ns:rd, rel:rd-professional-api-pr-484

#467 Rdcc 871 1
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserRolesTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/UserCreationRequestValidator.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/SuperControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/UserCreationRequestValidatorTest.java
Labels: ns:rd, rel:rd-professional-api-pr-467

#495 Merge Master to demo
  audit.json
  build.gradle
  charts/rd-professional-api/Chart.yaml
  config/owasp/suppressions.xml
  security.sh
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UpdateStatusForUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserRolesTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/EditPaymentAccountsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RoleBasedAccessForUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/MethodValidationPostProcessorConfig.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/resolver/OrganisationIdArgumentResolver.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/LogAndSuppressRequestRejectedExceptionFilter.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/constants/ProfessionalApiGeneratorConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/UserCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/impl/OrganisationIdentifierValidatorImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/SuperControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/UpdateOrganisationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/UserCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/impl/OrganisationIdentifierValidatorImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/MultipleUserProfilesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/ContactInformationRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/DxAddressRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/OrganisationRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/PaymentAccountRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/PrdEnumRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/UserAccountMapRepositoryTest.java
  src/test/resources/application.yml
Labels: ns:rd, rel:rd-professional-api-pr-495
