Repository hmcts/rd-professional-api, pull requests merged in 2020-10, with the labels that each got.

#806 Rdcc header email
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/DeleteOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPbaNumbersRetrieveByUserEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserEmailSearchTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/config/DbConfig.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/util/DataBaseUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/Application.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/LegacyPbaController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/feign/UserProfileFeignClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/LegacyPbaResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/LegacyPbaAccountService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/LegacyPbaAccountServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/PaymentAccountServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/LegacyPbaControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/LegacyPbaResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/LegacyPbaAccountServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/PaymentAccountServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtilTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-806

#812 Rdcc 1910 master
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/sprod.tfvars
  infrastructure/state.tf
  infrastructure/terraform.tf
  infrastructure/test_config.tf
  infrastructure/variables.tf
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/DeleteOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserEmailSearchTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-812

#819 Commit TF Upgrade changes. TF 0.12.16, AzureRM 2.20.0 - Perftest
  README.md
  infrastructure/ithc.tfvars
  infrastructure/output.tf
  infrastructure/perftest.tfvars
  smoke-output/.gitignore
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/AuthorisedServicesIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/Application.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserProfileUpdateRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/generator/ProfessionalApiGeneratorConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/PrdEnumType.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/ContactInformationResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/AddRoleResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/DeleteRoleResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PrdEnumTypeTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-819

#817 Commit TF Upgrade changes. TF 0.12.16, AzureRM 2.20.0 - Demo
  infrastructure/output.tf
  smoke-output/.gitignore
  src/main/java/uk/gov/hmcts/reform/professionalapi/Application.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserProfileUpdateRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/generator/ProfessionalApiGeneratorConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/repository/ProfessionalUserRepository.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/AddRoleResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/DeleteRoleResponseTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-817

#804 Build(deps): Bump up Jar versions
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-804

#811 Header changes test
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/feign/UserProfileFeignClient.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-811

#823 TF Upgrade to 13.3 and Azure RM to 2.25+ - Master
  infrastructure/.terraform-version
  infrastructure/ithc.tfvars
  infrastructure/perftest.tfvars
  infrastructure/terraform.tf
  infrastructure/variables.tf
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-823

#822 RDCC-1919: adding divorce_frontend to whitelist
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-822

#826 Bump : Bump ups lib versions(RDCC-1906)
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-826

#825 RDCC-1919: adding divorce_frontend to whitelist & TF/Azure RM Upgrade
  build.gradle
  infrastructure/.terraform-version
  infrastructure/ithc.tfvars
  infrastructure/perftest.tfvars
  infrastructure/terraform.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/feign/UserProfileFeignClient.java
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-825

#828 Bumpups: Bump up jar versions including owasp(RDCC-1933)
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-828

#836 Rdcc 1958
  src/main/resources/db/migration/V6_14__adding_sscs_roles_enum.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/PrdEnumRepositoryTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-836

#840 Rdcc 1958 demo
  build.gradle
  config/owasp/suppressions.xml
  src/main/resources/db/migration/V6_14__adding_sscs_roles_enum.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/PrdEnumRepositoryTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-840

#846 Rdcc_1958_1
  src/main/resources/db/migration/V6_15__deleting_sscs_role_enum.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/PrdEnumRepositoryTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-846

#847 Rdcc 1958 2
  src/main/resources/db/migration/V6_15__deleting_sscs_role_enum.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/PrdEnumRepositoryTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-847

#829 RDCC-1931: Allow apostrophes in Email IDs at the point of User creation
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/constants/ProfessionalApiConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserProfileCreationRequest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/OrganisationCreationRequestValidatorTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-829

#851 Remove s2s key
  charts/rd-professional-api/Chart.yaml
  charts/rd-professional-api/values.preview.template.yaml
  charts/rd-professional-api/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-851

#854 RDCC-1908: adding delete scripts and enabling multithreading
  Jenkinsfile_nightly
  build.gradle
  deletescript/delete-functional-data.sh
  deletescript/sql/delete-functional-test-data.sql
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/config/DbConfig.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/util/DataBaseUtil.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-854

#859 Remove thread
  build.gradle
  deletescript/delete-functional-data.sh
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-859

#860 Remove thread
  build.gradle
  charts/rd-professional-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/DeleteOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyRolesForUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyStatusForUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ReInviteUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveMinimalOrganisationsInfoTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserRolesTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/idam/IdamOpenIdClient.java
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-860
