Repository hmcts/rd-professional-api, pull requests merged in 2020-04, with the labels that each got.

#505 RDCC-901 Re Invite expired user
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ReInviteUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ReInviteUserIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserProfileCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/NewUserResponse.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/SuperControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserProfileCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/NewUserResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtilTest.java
Labels: ns:rd, rel:rd-professional-api-pr-505

#509 fix : added dependency suppressions for embedded tomcat
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
Labels: ns:rd, rel:rd-professional-api-pr-509

#513 fix : (RDCC-901) validation for organisation
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ReInviteUserTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ReInviteUserIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/SuperControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/helper/OrganisationFixtures.java
Labels: ns:rd, rel:rd-professional-api-pr-513

#492 RDCC-1040: Check User Status Validation
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/DeleteUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserStatusIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/resolver/UserIdArgumentResolver.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/constants/ProfessionalApiGeneratorConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/JsonFeignResponseUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/util/JsonFeignResponseUtilTest.java
Labels: ns:rd, rel:rd-professional-api-pr-492

#516 feat : RDCC-901 toggle off testing
  src/main/resources/application.yaml
Labels: ns:rd, rel:rd-professional-api-pr-516

#517 feat : RDCC-901 Reinvite Toggle ON
  src/main/resources/application.yaml
Labels: ns:rd, rel:rd-professional-api-pr-517

#518 feat : RDCC-901 fixed functional test cases
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ReInviteUserTest.java
Labels: ns:rd, rel:rd-professional-api-pr-518

#521 feat: (RDCC-901) Merging Reinvite functionality to master
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ReInviteUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ReInviteUserIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserProfileCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/NewUserResponse.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/SuperControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserProfileCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/helper/OrganisationFixtures.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtilTest.java
Labels: ns:rd, rel:rd-professional-api-pr-521

#511 RDCC-969, MASTER: Update Swagger Descriptions for APIs
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/LegacyPbaController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/PbaEditRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersEntityResponse.java
Labels: ns:rd, rel:rd-professional-api-pr-511

#524 feat:reverting the extra json property from response.
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersEntityResponse.java
Labels: ns:rd, rel:rd-professional-api-pr-524

#526 feat: Test_URL pointing to AAT instead of localhost
  src/functionalTest/resources/application-functional.yaml
Labels: ns:rd, rel:rd-professional-api-pr-526

#527 Rdcc 969 1
  src/functionalTest/resources/application-functional.yaml
Labels: ns:rd, rel:rd-professional-api-pr-527

#528 Rdcc 969
  src/functionalTest/resources/application-functional.yaml
Labels: ns:rd, rel:rd-professional-api-pr-528

#530 feat:reverting the swagger docs changes in the master
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/LegacyPbaController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/PbaEditRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersEntityResponse.java
Labels: ns:rd, rel:rd-professional-api-pr-530

#529 Rdcc 969 1
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/resources/application-functional.yaml
Labels: ns:rd, rel:rd-professional-api-pr-529

#532 Rdcc 969 1
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersStatusByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationCreationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PbaAccountsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrievePaymentAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/idam/IdamOpenIdClient.java
  src/smokeTest/java/uk/gov/hmcts/reform/professionalapi/SmokeTest.java
Labels: ns:rd, rel:rd-professional-api-pr-532

#533 Printing IP address for functional test cases
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
Labels: ns:rd, rel:rd-professional-api-pr-533

#525 fix : RDCC-1219 tech debt for OIDC Integration test cases
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/PbaAccountsTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithContactInformationDxAddress.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/DeleteUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/EditPaymentAccountsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/LegacyPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserStatusIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ReInviteUserIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RoleBasedAccessForUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/IntegrationTestOidcSecurityConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/JwtTokenUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/KeyGenUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/TestIdamSecurityConfiguration.java
  src/integrationTest/resources/_idam_user_details.json
  src/integrationTest/resources/application.yml
  src/integrationTest/resources/mappings/_idam_default_details.json
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/PbaEditRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/repository/IdamRepository.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/PbaEditRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/PaymentAccountServiceImplTest.java
Labels: ns:rd, rel:rd-professional-api-pr-525
