Repository hmcts/rd-professional-api, pull requests merged in 2020-05, with the labels that each got.

#544 feat: adding OIDC entries, disabling ASE in demo
  Jenkinsfile_CNP
  charts/rd-professional-api/Chart.yaml
  charts/rd-professional-api/values.yaml
  config/owasp/suppressions.xml
  infrastructure/demo.tfvars
Labels: ns:rd, rel:rd-professional-api-pr-544

#545 Committing ASE to AKS migration changes
  Jenkinsfile_CNP
  charts/rd-professional-api/Chart.yaml
  config/owasp/suppressions.xml
  infrastructure/demo.tfvars
  infrastructure/main.tf
Labels: ns:rd, rel:rd-professional-api-pr-545

#522 RDCC-1234: Addressing CVE suppressions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, rel:rd-professional-api-pr-522

#551 fix : fix for accepting extra json fields
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/JacksonConfiguration.java
Labels: ns:rd, rel:rd-professional-api-pr-551

#553 Pulling changes from RDCC-1234, 969 & 1040 (Master) To Demo
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/DeleteUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserStatusIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/LegacyPbaController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/JsonFeignResponseUtil.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/util/JsonFeignResponseUtilTest.java
Labels: ns:rd, rel:rd-professional-api-pr-553

#563 feat: removing hazelcast cache implementation from prd for OIDC
  build.gradle
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/ApplicationParams.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/repository/IdamRepository.java
  src/main/resources/application.yaml
Labels: ns:rd, rel:rd-professional-api-pr-563

#560 RDCC-1440, Demo: removing installCharts() from Jenkinsfile(s)
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
Labels: ns:rd, rel:rd-professional-api-pr-560

#559 RDCC-1440, Master: removing installCharts() from Jenkinsfile(s)
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
Labels: ns:rd, rel:rd-professional-api-pr-559
