Repository hmcts/rd-professional-api, pull requests merged in 2020-01, with the labels that each got.

#396 Rdcc-768 - Addressed Sonar issues
  build.gradle
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/PbaEditRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserProfileCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ContactInformation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/DxAddress.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/Organisation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/PaymentAccount.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/PrdEnum.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ProfessionalUser.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/SuperUser.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/UserAccountMap.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/UserAttribute.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/JurisdictionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/LegacyPbaAccountServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/PrdEnumServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/UserAccountMapServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/JurisdictionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/UserAccountMapServiceImplTest.java
Labels: ns:rd, ns:rd-professional-api-pr-396, rel:rd-professional-api-pr-396

#403 RDCC-768 Sonar Constructor issue for parameters
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ContactInformation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/UserProfileUpdatedData.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/entities/ContactInformationTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
Labels: ns:rd, rel:rd-professional-api-pr-403

#405 Fixing sonar changes
  build.gradle
Labels: ns:rd, rel:rd-professional-api-pr-405

#411 Merge master Rel 3.0.0 to demo
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyRolesForUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyStatusForUserTest.java
Labels: ns:rd, rel:rd-professional-api-pr-411

#393 RDCC-797 Abort when CCD error
  Jenkinsfile_nightly
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/JurisdictionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/JurisdictionServiceImplTest.java
Labels: ns:rd, ns:rd-professional-api-pr-393, rel:rd-professional-api-pr-393

#418 RDCC 861 - adding pui-case-manager role
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersStatusByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrievePaymentAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/DeleteUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
Labels: ns:rd, rel:rd-professional-api-pr-418
