Repository hmcts/rd-professional-api, pull requests merged in 2020-11, with the labels that each got.

#850 TA-24: Initial cut off provider test for divorce cos
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/sample/IdamConsumerTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-850

#880 RDCC-1908: Functional Test Improvement
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/DeleteOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/EditPbaTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersStatusByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyRolesForUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyStatusForUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationCreationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveMinimalOrganisationsInfoTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationByOrgIdTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrievePaymentAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserRolesTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/idam/IdamOpenIdClient.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-880

#885 Updating java chart version - Master
  charts/rd-professional-api/Chart.yaml
  charts/rd-professional-api/requirements.yaml
  charts/rd-professional-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/DeleteOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-885

#878 TA-24: Enable Pact Provider Tests in Jenkins
  Jenkinsfile_CNP
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-878

#893 RDCC-1976: adding null and empty check to if statement
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveMinimalOrganisationsInfoTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-893

#894 fix: Functional Test Changes
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/DeleteOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersStatusByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyRolesForUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationCreationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveMinimalOrganisationsInfoTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-894

#895 fix: Functional Test changes: Commenting out non-pui roles for super user
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-895

#896 Build pass
  Jenkinsfile_CNP
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-896

#891 RDCC-2020, PerfTest: Bringing changes from Master
  build.gradle
  charts/rd-professional-api/Chart.yaml
  charts/rd-professional-api/requirements.yaml
  charts/rd-professional-api/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/sample/IdamConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/DeleteOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/EditPbaTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersStatusByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyRolesForUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyStatusForUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationCreationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveMinimalOrganisationsInfoTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationByOrgIdTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrievePaymentAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserRolesTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/idam/IdamOpenIdClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-891

#890 RDCC-2020, ITHC: Bringing changes from Master
  Jenkinsfile_nightly
  build.gradle
  charts/rd-professional-api/Chart.yaml
  charts/rd-professional-api/requirements.yaml
  charts/rd-professional-api/values.preview.template.yaml
  charts/rd-professional-api/values.yaml
  config/owasp/suppressions.xml
  deletescript/delete-functional-data.sh
  deletescript/sql/delete-functional-test-data.sql
  infrastructure/.terraform-version
  infrastructure/terraform.tf
  infrastructure/variables.tf
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/sample/IdamConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/DeleteOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/EditPbaTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersStatusByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyRolesForUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyStatusForUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationCreationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ReInviteUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveMinimalOrganisationsInfoTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationByOrgIdTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrievePaymentAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserRolesTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/idam/IdamOpenIdClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountForSuperuserTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/constants/ProfessionalApiConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/feign/UserProfileFeignClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserProfileCreationRequest.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/db/migration/V6_14__adding_sscs_roles_enum.sql
  src/main/resources/db/migration/V6_15__deleting_sscs_role_enum.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/PrdEnumRepositoryTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-890

#898 TA-24: Fix Pact test classpath issue
  Jenkinsfile_CNP
  src/contractTest/resources/application-contract.yaml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-898

#902 Fix: Adding retry to Super User Bearer Token generation
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/DeleteOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersStatusByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserRolesTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-902
