Repository hmcts/rd-professional-api, pull requests merged in 2020-02, with the labels that each got.

#431 RDCC-915 Abort CCD when error and updated error messages
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/sample/IdamConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/LegacyPbaController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/CcdErrorMessageResolver.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/UserProfileUpdatedData.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/security/JwtAccessTokenDecoder.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/JurisdictionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtil.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/CcdErrorMessageResolver.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/security/JwtAccessTokenDecoderTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/JurisdictionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/RefDataUtilTest.java
Labels: ns:rd, rel:rd-professional-api-pr-431

#434 RDCC-915 Enable docker build
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/JurisdictionServiceImpl.java
Labels: ns:rd, rel:rd-professional-api-pr-434

#439 RDCC- 915 Reverting flyway script version to old
  Jenkinsfile_CNP
  build.gradle
Labels: ns:rd, rel:rd-professional-api-pr-439

#440 RDCC-907 Validate existing user is not getting invited for other organisation
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/advice/ExceptionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestValidatorTest.java
Labels: ns:rd, rel:rd-professional-api-pr-440

#423 Rdcc 899 - SQL Query DB
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrievePaymentAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ContactInformation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/Organisation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/persistence/OrganisationRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/OrganisationInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
Labels: ns:rd, rel:rd-professional-api-pr-423

#427 RDCC-915 adding pui-case-manager for FPLA (RDCC-861)
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersStatusByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrievePaymentAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/DeleteUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/security/JwtAccessTokenDecoderTest.java
Labels: ns:rd, rel:rd-professional-api-pr-427

#447 Merge master to demo
  Jenkinsfile_CNP
  build.gradle
  charts/rd-professional-api/values.preview.template.yaml
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/sample/IdamConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/LegacyPbaController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/CcdErrorMessageResolver.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/security/JwtAccessTokenDecoder.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/JurisdictionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtil.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/CcdErrorMessageResolver.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/advice/ExceptionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/security/JwtAccessTokenDecoderTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/JurisdictionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/utils/RefDataUtilTest.java
Labels: ns:rd, rel:rd-professional-api-pr-447

#451 RDCC-953 Nightly Build Fix
  audit.json
  charts/rd-professional-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  security.sh
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/JurisdictionServiceImplTest.java
Labels: ns:rd, rel:rd-professional-api-pr-451

#444 RDCC-822_1: adding validation on orgId for ModifyUserRoles Endpoint
  charts/rd-professional-api/Chart.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyRolesForUserTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/EditPaymentAccountsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/MethodValidationPostProcessorConfig.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/resolver/OrganisationIdArgumentResolver.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/LogAndSuppressRequestRejectedExceptionFilter.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationIdentifierValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/generator/ProfessionalApiGeneratorConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/JurisdictionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtil.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/ProfessionalExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationIdentifierValidatorImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/controller/request/OrganisationCreationRequestValidatorTest.java
Labels: ns:rd, rel:rd-professional-api-pr-444
