Repository hmcts/rd-professional-api, pull requests merged in 2021-01, with the labels that each got.

#943 Create s2s secret
  infrastructure/main.tf
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-943

#948 RDCC-2168: Nightly Build Fix
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-948

#912 RDCC-2049 Consolidate Functional test cases in one class - Part 1
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/DeleteOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/EditPbaTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersStatusByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyRolesForUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyStatusForUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationCreationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/OrganisationRetrieveTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalExternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ReInviteUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveMinimalOrganisationsInfoTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationByOrgIdTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/RetrievePaymentAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserRolesTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/S2sClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/idam/IdamOpenIdClient.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/helper/OrganisationFixtures.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-912

#949 Update secret reference
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-949

#954 RDCC-2035: Using PRD S2S Token when calling UP #931
  charts/rd-professional-api/Chart.yaml
  charts/rd-professional-api/values.preview.template.yaml
  charts/rd-professional-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/FeignInterceptorConfiguration.java
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-954

#957 RDCC-2045: Adding new Unspec CCD roles
  src/main/resources/db/migration/V6_16__adding_unspec_ccd_roles_enum.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/PrdEnumRepositoryTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-957

#965 RDCC-2085: Convert @Ignore Functional Tests to Integration Tests
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AddNewUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/DeleteOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersStatusByEmailTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ModifyRolesForUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ReInviteUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/UserRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithContactInformationDxAddress.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrganisationWithPaymentAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/DeleteOrganisationIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/DeleteUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/EditPaymentAccountsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserStatusIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ReInviteUserIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveMinimalOrganisationsInfoIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RoleBasedAccessForUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/integrationTest/resources/application.yml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-965

#966 Fix: Adding retry to IDAM Create User call
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalExternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/idam/IdamOpenIdClient.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-966
