Repository hmcts/rd-professional-api, pull requests merged in 2021-05, with the labels that each got.

#1041 RDCC-2819: refactoring getUserEmail() to prevent NPE being thrown
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalExternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1041

#1045 RDCC-2846: Nightly Build Fix
  audit.json
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1045

#1047 Rdcc 2861
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUserByEmailTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/Organisation.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1047

#995 fix: Update the swagger docs(RDCC-2118)
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationMfaStatusController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-995

#1051 Fix: Adding additional Unit Tests for getUserEmail()
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/SuperControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalControllerTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1051

#1038 RDCC-2722: Upgrading Spring Version to 2.4.5 & other dependency versions
  build.gradle
  charts/rd-professional-api/Chart.yaml
  charts/rd-professional-api/values.preview.template.yaml
  charts/rd-professional-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/impl/OrganisationIdentifierValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtil.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1038
