Repository hmcts/rd-professional-api, pull requests merged in 2021-09, with the labels that each got.

#1089 RDCC-3122: Ability of the PRD Admin update organisation status (Existing Internal API)
  infrastructure/terraform.tf
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/impl/OrganisationStatusValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/Organisation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/OrganisationStatus.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/resources/db/migration/V7__adding_organisation_status_message.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/SuperControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/OrganisationStatusTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1089

#1090 RDCC-3118 - PRD6.0 : Ability of solicitors to delete multiple PBAs associated with their organisation (New External API)
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalInternalControllerProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalExternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/DeletePaymentAccountsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/EditPaymentAccountsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/PbaRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/repository/PaymentAccountRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/PaymentAccountService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/PaymentAccountServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/FeatureConditionEvaluation.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/PbaEditRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/PaymentAccountServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1090

#1094 RDCC-3120: PRD9.0 : Ability of the PRD Admin to retrieve list of organisations with particular PBA status (New Internal API)
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalInternalControllerProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindOrganisationsByPbaStatusTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/FetchPbaByStatusResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationsWithPbaStatusResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/PbaAccountResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/PaymentAccount.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/repository/OrganisationRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/repository/PaymentAccountRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/FetchPbaByStatusResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationsWithPbaStatusResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1094

#1088 RDCC-3115: Ability of solicitors to add multiple PBAs associated with their organisation
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalExternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/AddPaymentAccountsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/constants/ProfessionalApiConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/PaymentAccountValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/AddPbaResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/FailedPbaReason.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/PaymentAccountValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/AddPbaResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/FailedPbaReasonTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1088

#1093 Add fortify implementation
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
  infrastructure/terraform.tf
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1093

#1091 Nightly Build Fix: Adding entries to audit.json
  audit.json
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1091

#1098 RDCC-3277: Corrected the environment variable names and removed hard …
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  bin/run-in-docker.sh
  charts/rd-professional-api/Chart.yaml
  charts/rd-professional-api/values.preview.template.yaml
  charts/rd-professional-api/values.yaml
  docker-compose.yml
  src/contractTest/resources/application-contract.yaml
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/resources/application.yml
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1098
