Repository hmcts/rd-professional-api, pull requests merged in 2021-04, with the labels that each got.

#958 TA-224: Provider tests for ExpertUi ManageOrg
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/BaseProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/WebMvcProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/MockMvcProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderUsersTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderUsersTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalInternalControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalInternalControllerProviderTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/PactJwtGrantedAuthoritiesConverter.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/ProfessionalExternalUserControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/ProfessionalExternalUserControllerProviderTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/ProviderTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/sample/IdamConsumerTest.java
  src/contractTest/resources/application-contract.yaml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-958

#1020 (fix): Updating the zap security audit.json
  audit.json
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1020

#1028 fix: Upgraded apache commons io verion to latest to fix CVE-2021-29425
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1028

#1032 Rdcc 2746 helm upgrade
  charts/rd-professional-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1032

#1015 RDCC-2362: MFA - PUT API to modify the MFA preference of a particular organisation
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderUsersTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalInternalControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalInternalControllerProviderTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/ProfessionalExternalUserControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/ProfessionalExternalUserControllerProviderTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalExternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateMinimalOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindMFAByUserIDTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrgMfaStatusIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/constants/ProfessionalApiConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationMfaStatusController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/MfaUpdateRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/MfaStatusResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/MFAStatus.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/Organisation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/OrganisationMfaStatus.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/repository/OrganisationMfaStatusRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/MfaStatusService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/MfaStatusServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/FeatureConditionEvaluation.java
  src/main/resources/db/migration/V6_17__adding_mfa_table.sql
  src/main/resources/db/migration/V6_18__adding_mfa_status_to_existing_orgs.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationMfaStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/MfaUpdateRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/impl/OrganisationStatusValidatorImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/MfaStatusResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/OrganisationMfaStatusTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/OrganisationTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/helper/BaseRepository.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/OrganisationMfaStatusRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/FeatureToggleServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/MfaStatusServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1015

#1033 RDCC-2770: Security Scan Fix - adding entries to audit.json
  audit.json
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1033
