Repository hmcts/rd-professional-api, pull requests merged in 2022-03, with the labels that each got.

#1173 RDCC-3455: Completeness of Tests
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalExternalUserFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/DeletePaymentAccountsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserRoleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdatePaymentAccountsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/DeleteUserProfilesRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/DxAddressResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/FetchPbaByStatusResponseTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1173

#1175 Add Super user info and Org name while retrieving PBA
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalInternalControllerProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindOrganisationsByPbaStatusTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationsWithPbaStatusResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/SuperUserResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/Organisation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/SuperUser.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationsWithPbaStatusResponseTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1175

#1190 Rdcc 4145
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1190

#1174 fix: Updated java chart version to 3.7.3
  charts/rd-professional-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1174

#1194 RDCC-4263: Fixing CVE-2020-36518
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1194

#1195 RDCC-4298: Collating DependaBot PRs
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1195

#1210 RDCC-4331 CVE 2020-36518
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1210

#1192 RDCC-4174 - enabling 'pendingPaymentAccount' during retrieveOrganisat…
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalExternalUserFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/WireMockExtension.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalControllerTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1192

#1197 PRD : Multiple Address : Ability to return Org Created date and Approved date
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/Organisation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/resources/db/migration/V9__adding_organisation_date_approved.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1197

#1214 RDCC-4380 CVE Fix
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1214
