Repository hmcts/rd-professional-api, pull requests merged in 2022-02, with the labels that each got.

#1152 Added uprn for the contact information registering to the organisation
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/pact/util/PactUtils.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderUsersTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalInternalControllerProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrgWithContactInformationDxAddress.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/integrationTest/resources/db/migration/V8__adding_uprn_contact_informatin.sql
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/ContactInformationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ContactInformation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/resources/db/migration/V8__adding_uprn_contact_informatin.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/ContactInformationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/ContactInformationTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/helper/BaseRepository.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/helper/OrganisationFixtures.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/ContactInformationRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1152

#1162 fix: Used used testImplementation instead of testCompile
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1162

#1156 Feat: Ability of the PRD Admin to add a new Contact Information Address to an Organisation
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/ProviderTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalExternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/AddContactInformationToOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/constants/ProfessionalApiConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/ContactInformationCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/DxAddressCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/InvalidContactInformations.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ContactInformationResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ContactInformationResponseWithDxAddress.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ContactInformationValidationResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/ContactInformationResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/ContactInformationResponseWithDxAddressTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationMinimalInfoResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/helper/OrganisationFixtures.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/ContactInformationRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1156

#1163 fix: RDCC-3995 Modified test case to filter the pbas whose status message is Edited by Admin
  audit.json
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1163

#1165 fix: security scan reported issue
  audit.json
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1165

#1161 Rdcc 3945 CVE fix spring security
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1161

#1155 RDCC-3872: PRD : Multiple Address API 4: Ability of the PRD Admin to delete Contact Information Address of an Organisation
  audit.json
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalExternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/DeleteContactInformationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/constants/ProfessionalApiConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/DeleteMultipleAddressRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ContactInformation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/repository/ContactInformationRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtil.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/DeleteMultipleAddressRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/helper/OrganisationFixtures.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtilTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1155

#1169 RDCC-4048: CVE Fixes
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1169

#1166 fixed sonar minor issues
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationMinimalInfoResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/UserAccountMap.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/UserAttribute.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/oidc/JwtGrantedAuthoritiesConverter.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/SuperControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/ContactInformationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/DeleteUserProfileRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/DxAddressCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/RetrieveUserProfilesRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserAttributeRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/UserProfileCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/MultipleUserProfilesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/AddPbaResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/FailedPbaReasonTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/ProfessionalUserTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/UserAccountMapTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/UserProfileUpdatedDataTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/generator/ProfessionalApiGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/PrdEnumServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtilTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1166

#1154 RDCC-3923: PRD Remove Deprecated Jcenter Repository
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1154

#1167 idam bearer token logger
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/RestAuthenticationEntryPoint.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/SecurityConfiguration.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1167

#1171 RDCC-4088: Fixing CWE
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1171
