Repository hmcts/rd-professional-api, pull requests merged in 2023-12, with the labels that each got.

#1518 Addresses CVE-2023-34055, CVE-2023-46589
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1518

#1517 Delete organisation with the user attributes as well
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-professional-api-pr-1517

#1521 suppress cve
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-professional-api-pr-1521

#1527 Register Org : Integration Test Cases-Otherorgregistration
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrgWithOtherOrg.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1527

#1532 DTSRD-1873: Clean test data
  deletescript/sql/delete-functional-test-data.sql
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1532

#1530 testcase for Othergovernment
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/UpdateOrganisationTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/helper/OrganisationFixtures.java
Labels: ns:rd, prd:rd, add-or-update, rel:rd-professional-api-pr-1530

#1535 Update dependencycheck to use default version
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1535

#1534 DTSRD-1886: internal endpoint to retrieve organisation details
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/constants/ProfessionalApiConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1534

#1536 DTSRD-1886: ignored failed functional test
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1536

#1537 DTSRD-1886: fix for failing functional test assertion
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1537
