Repository hmcts/rd-professional-api, pull requests merged in 2023-02, with the labels that each got.

#1348 cve fix
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1348

#1350 RDCC-1707: Upgrade helm chart version to latest
  charts/rd-professional-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1350

#1347 Feat:PRD : Include "Review" status in Delete Organisation
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/DeleteOrganisationIntTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1347

#1353 RDCC-6374: Upgrading chart version to latest
  charts/rd-professional-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1353

#1358 RDCC-6432: Adding Suppression for `CVE-2022-45688`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1358
