Repository hmcts/rd-professional-api, pull requests merged in 2023-07, with the labels that each got.

#1408 [RDCC-6780]CVE fix
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1408

#1405 [RDCC-6837]PRD- data model changes for other orgs
  config/owasp/suppressions.xml
  src/integrationTest/resources/db/migration/V12__alter_organisation.sql
  src/integrationTest/resources/db/migration/V13__create_org_attribute.sql
  src/main/resources/db/migration/V12__alter_organisation.sql
  src/main/resources/db/migration/V13__create_org_attribute.sql
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1405

#1412 [RDCC-6888]Increase Mutation Coverage for Professional API
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/ProfessionalUserTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/FeatureToggleServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1412

#1409 Update RefDataUtil.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtil.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1409

#1415 Rdcc 6885 new
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderUsersTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalInternalControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalInternalControllerProviderTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateOrgWithOtherOrg.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/constants/ProfessionalApiConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalControllerV2.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalControllerV2.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrgAttributeRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationOtherOrgsCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/OrganisationCreationRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/OrgAttribute.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/Organisation.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/repository/OrgAttributeRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtil.java
  src/main/resources/db/migration/V12__alter_organisation.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationOtherOrgsCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/OrgAttributeTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/OrganisationTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/ProfessionalUserTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/FeatureToggleServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1415

#1416 [RDCC-6840]PRD - retrievePaymentAccount org API changes to retrieve other organisation details
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalControllerV2.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalControllerV2.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationPbaResponseV2.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/Organisation.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationPbaResponseV2Test.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/OrganisationTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1416

#1418 CVE suppression CVE-2023-34034
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1418
