Repository hmcts/rd-professional-api, pull requests merged in 2024-03, with the labels that each got.

#1570 GA-126 post get users in organisations by org identifiers
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/ProfessionalUserInternalControllerV2ProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/ProfessionalUserInternalControllerV2ProviderTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/ProviderTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalForV2ApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalControllerV2.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/UsersInOrganisationsByOrganisationIdentifiersRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/impl/UsersInOrganisationsByOrganisationIdentifiersRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationInfoWithUsersResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationUserResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/UsersInOrganisationsByOrganisationIdentifiersResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/repository/ProfessionalUserRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/impl/UsersInOrganisationsByOrganisationIdentifiersRequestValidatorTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1570

#1580 DTSRD-2065-3.SCHEMA OWNER FIX
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:rd, prd:rd, add-or-update, rel:rd-professional-api-pr-1580

#1582 GA-207 add deleted field to the user response
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/ProfessionalUserInternalControllerV2ProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationsIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationUserResponse.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1582

#1584 Fix CVE-2024-1597
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1584
