Repository hmcts/rd-professional-api, pull requests merged in 2024-07, with the labels that each got.

#1620 DTSRD-3041
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalInternalControllerProviderTest.java
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-professional-api-pr-1620

#1621 Update .terraform-version
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/terraform.tf
  infrastructure/variables.tf
Labels: ns:rd, prd:rd, aat/add-or-update, prod/add-or-update, rel:rd-professional-api-pr-1621

#1630 Update build.gradle Fix build
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1630
