Repository hmcts/rd-professional-api, pull requests merged in 2024-01, with the labels that each got.

#1538 DTSRD-1934: PRD-Modify addressLine2 DB column length
  src/integrationTest/resources/db/migration/V20__alter_contact_informatin.sql
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ContactInformation.java
  src/main/resources/db/migration/V20__alter_contact_informatin.sql
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1538

#1540 DTSRD-1893-1.Upgrading main branch to V16 and adding subnet_suffix
  Jenkinsfile_CNP
  infrastructure/main.tf
  infrastructure/terraform.tf
  infrastructure/variables.tf
Labels: ns:rd, prd:rd, add-or-update, rel:rd-professional-api-pr-1540

#1531 Rdcc CVE suppress
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalForV2ApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/DeleteOtherOrganisationIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/repository/BulkCustomerDetailsRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-professional-api-pr-1531

#1543 CIVIL Bulk customer Test cases
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/BulkCivilApiFunctionalTest.java
  src/functionalTest/resources/application-functional-bulkcustomer.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/BulKCustmerDetailsAPITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/repository/BulkCustomerDetailsRepository.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1543

#1544 Rdcc 7274
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalExternalUserFunctionalForV2ApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindPaymentAccountsByEmailOtherOrgsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-professional-api-pr-1544
