Repository hmcts/rd-professional-api, pull requests merged in 2024-04, with the labels that each got.

#1585 DTSRD-2442: PI33 Configure spot instances in non-production
  charts/rd-professional-api/Chart.yaml
  charts/rd-professional-api/values.yaml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1585

#1586 DTSRD-2525: Upgrade Chart Java version
  charts/rd-professional-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1586

#1593 Update pitest
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1593
