Repository hmcts/rd-professional-api, pull requests merged in 2024-02, with the labels that each got.

#1547 DTSRD-2065.Adding force_user_permissions_trigger to get access to DTS JIT Access rd DB Reader SC user
  infrastructure/main.tf
  infrastructure/variables.tf
  src/integrationTest/resources/application.yml
Labels: ns:rd, prd:rd, destroy, rel:rd-professional-api-pr-1547

#1549 Ga 22 23 24 consolidated dev and QA branch
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/pact/util/PactUtils.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderUsersTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/ProfessionalExternalUserControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/ProfessionalExternalUserControllerProviderTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalExternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserConfiguredAccessIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/impl/UserProfileUpdateRequestValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersEntityResponseWithoutRoles.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/ProfessionalUsersResponseWithoutRoles.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/ProfessionalUser.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/UserAccessType.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/UserConfiguredAccess.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/UserConfiguredAccessId.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/UserProfileUpdatedData.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/repository/UserConfiguredAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/JsonFeignResponseUtil.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtil.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V21__create_user_configured_access_table.sql
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/SuperControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/external/ProfessionalExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/impl/UserProfileUpdateRequestValidatorImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/UserAccessTypeTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/UserConfiguredAccessIdTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/UserConfiguredAccessTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/UserProfileUpdatedDataTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtilTest.java
  src/test/resources/application.yml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1549

#1561 Added functional test code for GA-97
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalExternalUserFunctionalTest.java
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-professional-api-pr-1561

#1564 Addresses CVE-2023-34042
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1564

#1553 DTSRD-2103: Sorting of Active Orgs Users
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalExternalUserFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/FindUsersByOrganisationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtil.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtilTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1553

#1560 Added functional test code for GA-25
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
Labels: ns:rd, prd:rd, DO NOT MERGE, enable_keep_helm, rel:rd-professional-api-pr-1560

#1552 GA-117 getOrganisationsByProfile
  config/checkstyle/checkstyle.xml
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalInternalControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/ProviderTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationByProfileIdsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationByProfileIdsRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/impl/OrganisationByProfileIdsRequestValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/MultipleOrganisationsResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationByProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/repository/OrganisationRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/OrganisationProfileIdConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/OrganisationTypeConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtil.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/impl/OrganisationByProfileIdsRequestValidatorImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1552

#1529 Ga 25 get refresh users endpoint
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/ProfessionalUserInternalControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/ProfessionalUserInternalControllerProviderTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/ModifyUserConfiguredAccessIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveRefreshUsersIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/constants/ProfessionalApiConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/impl/OrganisationIdentifierValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/GetRefreshUsersResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/OrganisationInfo.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/RefreshUser.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/repository/ProfessionalUserRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtil.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/ProfessionalUserInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/impl/OrganisationIdentifierValidatorImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/GetRefreshUsersResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/RefreshUserTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/repository/ProfessionalUserRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtilTest.java
Labels: ns:rd, prd:rd, DO NOT MERGE, enable_keep_helm, rel:rd-professional-api-pr-1529, destroy

#1541 Ga 97 update post org add user
  acb.tpl.yaml
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/pact/util/PactUtils.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderUsersTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalExternalControllerProviderUsersTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalExternalUserFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/CreateNewUserWithRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/AuthorizationEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/UserAccessType.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/domain/UserProfileUpdatedData.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/SuperControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/external/OrganisationExternalControllerV2Test.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalControllerV2Test.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/NewUserCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/OrganisationCreationRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1541

#1566 GA-43 Added fix for date format issue
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1566

#1567 Change mutationThreshold to 80
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1567

#1572 Added functional test for GA-43 and refactored GA-25 functional test
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalForV2ApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/util/DateUtils.java
Labels: ns:rd, prd:rd, DO NOT MERGE, enable_keep_helm, rel:rd-professional-api-pr-1572

#1571 GA-169: use orgType
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/ProfessionalUserServiceImplTest.java
  src/test/resources/application.yml
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1571

#1533 GA-43: update internal get orgs with since
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalInternalControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalInternalControllerV2ProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/ProfessionalExternalUserControllerProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalForV2ApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/util/DateUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/SuperController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/constants/ProfessionalApiConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalControllerV2.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/impl/OrganisationIdentifierValidatorImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationsDetailResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationsDetailResponseV2.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/repository/OrganisationRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtil.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/SuperControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalControllerV2Test.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/impl/OrganisationIdentifierValidatorImplTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationEntityResponseTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/OrganisationInfoTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/ProfessionalUserTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/RefreshUserTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/UserAccessTypeTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/domain/UserConfiguredAccessTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1533

#1569 Ga 117 get organisations by profile
  config/checkstyle/checkstyle.xml
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/OrganisationalInternalControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/professionalapi/provider/ProviderTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalExternalUserFunctionalForV2ApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalForV2ApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/RetrieveOrganisationByProfileIdsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/professionalapi/util/ProfessionalReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/configuration/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/internal/OrganisationInternalController.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/OrganisationByProfileIdsRequest.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/impl/OrganisationByProfileIdsRequestValidator.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/MultipleOrganisationsResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/controller/response/OrganisationByProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/repository/OrganisationRepository.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/OrganisationProfileIdConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/OrganisationTypeConstants.java
  src/main/java/uk/gov/hmcts/reform/professionalapi/util/RefDataUtil.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/controller/request/validator/impl/OrganisationByProfileIdsRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/professionalapi/service/impl/OrganisationServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1569

#1575 Added functional test for GA-126
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalForV2ApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/client/ProfessionalApiClient.java
Labels: ns:rd, prd:rd, rel:rd-professional-api-pr-1575

#1579 Ga 126 qa3
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalForV2ApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/professionalapi/ProfessionalInternalUserFunctionalTest.java
Labels: ns:rd, prd:rd, DO NOT MERGE, enable_keep_helm, rel:rd-professional-api-pr-1579
